/* ==== Site Colours =======================*/
homeColour = #800000;
/*aboutColour = #006600;
educationColour = #004d4d;
skillsColour = #c05656;
contactColour = #803a00;*/
aboutColour = #4CAF50;  //Green
educationColour = #3F51B5; //Indigo
skillsColour = #FF5722; //Orange
contactColour = #9C27B0; //Purple


html{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: homeColour;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1em;
    padding: 15px;
    width: 120px;
}

nav a:hover,
nav a:visited,
nav a:link {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header{
  text-align: center;
}
#mainHeader a{
  color: #FFF;
}

.viewPage{
  padding: 3em;
  background: #fff;
}

nav{
  margin: 0;
  margin-bottom: 3em;
}

#homePage nav{
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color: blue;
}

a:visited{
  color: blue;
}

ul.noStyle{
  list-style: none;
  padding-left: 0;
}

//Set background colours for nav buttons
#homePage, #Home-link a{
  background: homeColour;
}

#About-link a{
  background: aboutColour;
}

#Education-link a{
  background: educationColour;
}

#Skills-link a{
  background: skillsColour;
}

#Contact-link a{
  background: contactColour;
}

#educationPage h3{
  margin-bottom: .3em;
}

#continuingEd{
  padding-top: 1.5em;
}

#continuingEd a{
  padding-left: 5px;
}

#contactPage input,
#contactPage textarea{
  padding: 5px;
  border-radius:5px;
}

#contactPage input{
  width: 300px;
}

#contactPage textarea{
  height: 250px;
  width: 500px;
}

#contactPage label{
  font-weight: bold;
}

#contactPage .form-group{
  margin-bottom: 1.5em;
}

#contactPage .emailResult{
  background-color: green;
  color: #ffffff;
  font-size: 1.5em;
  padding: 1em;
  margin: 2em 0 2em 0;
  border-radius: 8px;
}

#contactPage .emailResult.sendError{
  background-color: red;
}

// style confirmation messages
.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 1000ms ease-in-out all;
    -moz-transition: 1000ms ease-in-out all;
    -o-transition: 1000ms ease-in-out all;
    transition: 1000ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

// styles for contact page send mail button
.sendMailBtn {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0)");
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.sendMailBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0)");
	background-color:#408c99;
}
.sendMailBtn:active {
	position:relative;
	top:1px;
}
.sendMailBtn:disabled{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0)");
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:not-allowed;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.skillsList{
  float: left;
  width: 33%;
}

div.clear{
  clear: both;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (max-width: 767px){
  .aboutPage, .educationPage, .skillsPage, .contactPage{
    nav{
      ul{
        max-height: 0;
        overflow: hidden;
        margin: 0 3.5em 0 1em;

        li{
          visibility: hidden;
          display: block;
          padding: 0;
          border: none;

          a{
            margin: 0 auto 1em auto;
          }
        }
      }
      .navbar-handle{
        display: block;
      }
    }

    #navbar-checkbox:checked + nav{
      ul{
        max-height: 350px;
      }
      li{
        visibility: visible;
      }
    }

    nav {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    nav .navbar-handle {
      position: absolute;
      font-size: 1.2em;
      top: 0;
      right: 12px;
      z-index: 10;
    }

    h1{
      margin-top: 0;
    }
  }
  .homePage{
    nav ul li a{
      margin: 0 auto 2em auto;
    }
  }
}

.navbar-checkbox{
  display: none;
}

.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 1.66666667em;
  border-top: 0.13333333em solid;
}

.navbar-handle:before,
.navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.13333333em solid;
}

.navbar-handle:before {
  top: 0.37777778em;
}

.navbar-handle:after {
  top: 0.88888889em;
}



@media only screen and (min-width: 768px) {
  nav{
    width: 550px;
    margin: 0 auto;
  }



  nav ul li a{
    float: left;

  }

}

@media only screen and (min-width: 1100px) {
  html, body{
    //border-left: 400px solid maroon;
    height: 100%;
  }

  #wrapper{
    display: table;
    height: 100%;
    width: 100%;
  }

  header{
    width: 400px;
  }

  header, #pageView{
    display: table-cell;
    vertical-align: middle;
  }

  nav{
    width: 100%;

    ul{
      width: 300px;
    }
  }

  .viewPage{
    margin-right: 3em;
  }

  #footer{
    display: table-row;
    height: 1px;
  }

  .aboutPage p{
    font-size: 1.5em;
    line-height: 1.5em;
  }

}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
      //  margin: 0 1.7%;
      //  padding: 25px 2%;
      //  margin-bottom: 0;
    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }



}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ANIMATIONS
============================================================================= */
/** Animate switching of views */
.ng-enter 		{
    -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;
}


/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}
