/* ==== Site Colours =======================*/
homeColour = #800000;
aboutColour = #006600;
educationColour = #004d4d;
skillsColour = #c05656;
contactColour = #803a00;

html{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: homeColour;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header{
  color: #fff;
  background: homeColour;
  padding-left: 2em;
}

.viewPage{
  margin-right: 3em;
  padding: 3em;
  background: #fff;
  //position: absolute;
  //width: 100%;
//  height: 100%;
/*  -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
  -webkit-perspective:1200px;
	-moz-perspective:1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);*/
}

a{
  text-decoration: none;
  color: blue;
}

a:visited{
  color: blue;
}

//Set background colours for nav buttons
#homePage, #Home-link a{
  background: homeColour;
}

#About-link a{
  background: aboutColour;
}

#Education-link a{
  background: educationColour;
}

#Skills-link a{
  background: skillsColour;
}

#Contact-link a{
  background: contactColour;
}

#contactPage input, #contactPage textarea{
  padding: 5px;
  border-radius:5px;
  margin-bottom: 1.5em
}

#contactPage input{

  width: 300px;

}

#contactPage textarea{
  height: 250px;
  width: 500px;
}

#contactPage label{
  font-weight: bold;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  html, body{
    //border-left: 400px solid maroon;
    height: 100%;
  }

  #wrapper{
    display: table;
    height: 100%;
    width: 100%;
  }

  nav{
    margin-bottom: 3em;
  }

  header{
    width: 400px;
  }

  header, #pageView{
    display: table-cell;
    vertical-align: middle;
  }


  #footer{
    display: table-row;
    height: 1px;
  }

  .aboutPage p{
    font-size: 1.5em;
    line-height: 1.5em;
  }


  /** Animate switching of views */
  /* home -------------------------- */
/*  .ng-leave         {
      -webkit-transform-origin: 0% 0%;
  	-webkit-animation: rotateFall 1s both ease-in;
  	-moz-transform-origin: 0% 0%;
  	-moz-animation: rotateFall 1s both ease-in;
  	transform-origin: 0% 0%;
  	animation: rotateFall 1s both ease-in;
  }*/
  .ng-enter 		{
      -webkit-animation:scaleUp 0.5s both ease-in;
  	-moz-animation:scaleUp 0.5s both ease-in;
  	animation:scaleUp 0.5s both ease-in;
  }
  /*.ng-leave {
    -webkit-animation:scaleDown 0.5s both ease-in;
  -moz-animation:scaleDown 0.5s both ease-in;
  animation:scaleDown 0.5s both ease-in;
  }*/

  /* about ------------------------ */
  /*.aboutPage.ng-leave        {
      -webkit-animation:slideOutLeft 0.5s both ease-in;
  	-moz-animation:slideOutLeft 0.5s both ease-in;
  	animation:slideOutLeft 0.5s both ease-in;
  }
  .aboutPage.ng-enter 		{
      -webkit-animation:slideInRight 0.5s both ease-in;
  	-moz-animation:slideInRight 0.5s both ease-in;
  	animation:slideInRight 0.5s both ease-in;
  }

  /* contact ---------------------- */
  /*.contactPage.ng-leave      {
      -webkit-transform-origin: 50% 50%;
  	-webkit-animation: rotateOutNewspaper .5s both ease-in;
  	-moz-transform-origin: 50% 50%;
  	-moz-animation: rotateOutNewspaper .5s both ease-in;
  	transform-origin: 50% 50%;
  	animation: rotateOutNewspaper .5s both ease-in;
  }
  .contactPage.ng-enter 		{
      -webkit-animation:slideInUp 0.5s both ease-in;
  	-moz-animation:slideInUp 0.5s both ease-in;
  	animation:slideInUp 0.5s both ease-in;
  }


/*.ng-leave {
  	-webkit-transform-origin: 100% 50%;
  	transform-origin: 100% 50%;
  	-webkit-animation: rotateCubeLeftOut .6s both ease-in;
  	animation: rotateCubeLeftOut .6s both ease-in;
  }
  .ng-enter {
  	-webkit-transform-origin: 0% 50%;
  	transform-origin: 0% 50%;
  	-webkit-animation: rotateCubeLeftIn .6s both ease-in;
  	animation: rotateCubeLeftIn .6s both ease-in;
  }*/


}


@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ANIMATIONS
============================================================================= */

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* scale down */
@keyframes scaleDown {
	to 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleDown {
	to 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleDown {
	to 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}





@-webkit-keyframes rotateCubeLeftOut {
	0% { }
	50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
	100% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); }
}
@keyframes rotateCubeLeftOut {
	0% { }
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);  transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
	100% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); transform: translateX(-100%) rotateY(-90deg); }
}

@-webkit-keyframes rotateCubeLeftIn {
	0% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); }
	50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}
@keyframes rotateCubeLeftIn {
	0% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); transform: translateX(100%) rotateY(90deg); }
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);  transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}
