<section id='educationPage' class='container viewPage' md-theme='educationTheme'>
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<md-icon>school</md-icon>
			<h1><span>Education</span></h1>
			<span flex></span>
			<hamburger-panel></hamburger-panel>
		</div>
	</md-toolbar>
	<div id="viewPageMain">
		<section class="row university">
			<div style='float:left; margin-right: 1em'>
				<img src="/img/Uwaterloo_seal.gif" alt="University of Waterloo" height="42" width="42">
			</div>
			<div>
				<h3>University of Waterloo</h3>
				Bachelor of Mathematics, Computer Science, Honours, Co-Operative Program
			</div>
		</section>
		<section id='continuingEd' class='clear'>
			<h2>Continuing Education</h2>
			<md-list>
				<md-list-item layout="column" layout-align="start start" ng-repeat="school in schools">
					<div>
						<img src="/img/{{school.logo}}" alt="{{school.name}}" height="24">
					</div>
					<md-list layout="column">
						<md-list-item class="course" ng-repeat="course in courses | filter: {school: school.name}">
							<div>
								{{course.name}}
								<small>
									<a href="{{course.course_link}}" target="_blank">(course)</a>
									<a href="{{course.certificate_link}}" target="_blank">(certificate)</a>
								</small>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>

		</section>
	</div>
</section>
